<div id="<%= dom_id group %>" class="table-bordered mb-2 bg-white">

  <p>
    <%= link_to group.name, group_entities_path(group) %>
  </p>

  <p>
    <%= link_to group_entities_path(group) do %>
      <%= image_tag group.icon, alt: 'Group Icon', style: 'width: 50px; height: 50px;' %>
    <% end %>
  </p>
</div>
