<style>
h3 {
  color: white;
}
  .navBar {
    background-color: #3778c2;
    padding: 2rem;
  }

  .navBar button {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
  }
</style>

<div class="navBar d-flex justify-content-between">
 
  <div>
  <h3>
    <% if defined?(@group) && @group.present? %>
    
      <%= @group.name %> <br>
    <% elsif request.path == groups_path %>
      Categories
    <% elsif defined?(@entity) && @entity.present? %>
      <%= @entity.name %>
    <% else %>
      
    <% end %>
    
  </h3>
</div>
<% if user_signed_in? %>
<%= button_to("Log Out", destroy_user_session_path, method: :delete, class: 'logout') %>
<% end %>
</div>

